challenge5/WebCalc/src/conf/xml-resources/web-service-references/WebServiceCalc2/wsdl/localhost_8080/AppServer2/WebServiceCalc2.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="Divide" type="tns:Divide"/>

<xs:element name="DivideResponse" type="tns:DivideResponse"/>

<xs:element name="Substract" type="tns:Substract"/>

<xs:element name="SubstractResponse" type="tns:SubstractResponse"/>

<xs:complexType name="Substract">
<xs:sequence>
<xs:element name="nmFirst" type="xs:float"/>
<xs:element name="nmSecond" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubstractResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Divide">
<xs:sequence>
<xs:element name="nmFirst" type="xs:float"/>
<xs:element name="nmSecond" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivideResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>